In [1]:
s = "Aditya Katre"
print(s[::-1])

ertaK aytidA

In [6]:
s = str(input("enter a string for check palindrome "))
R = s[::-1]
if s == R:
    print("it is palindraom ")
else:
    print("it isn't palindrom")

enter a string for check palindrome  madam

it is palindraom

In [7]:
S = str(input("please enter string to convert it in uppercase "))

print(S.upper())

please enter string to convert it in uppercase  aditya

ADITYA

In [9]:
S = str(input("please enter string to convert it in lowercase"))
print(S.lower())

please enter string to convert it in lowercase ADITYA

aditya

In [10]:
S = str(input("Enter the string"))
a = S.count('a')
e = S.count('e')
i = S.count('i')
o = S.count('o')
u = S.count('u')
print('a =',a,'e =',e,'i =',i,'o =',o,'u =',u)

Enter the string Aditay

a = 1 e = 0 i = 1 o = 0 u = 0

In [11]:
S = str(input("Enter the string to remove the whitespace "))
print(S.replace(" ",""))

Enter the string to remove the widespace  aditya  katre

adityakatre

In [12]:
S = str(input("Enter the string to count the lenght without using len function"))

count = 0
for i in S:
    count+=1
    
print(count)

Enter the string to count the lenght without using len function Aditya

6

In [18]:
S = str(input("check the specific word in the String "))
SpecificWord = str(input("enter the word that you want to search in the string "))

if SpecificWord in S:
    print("success")
else:
    print("failuer")

check the specific word in the String  aditya is nice guy
enter the word that you want to search in the string  guy

success

In [20]:
S = str(input("Enter the string with to Replace the Specific Word "))
Word = str(input("Enter the word you want to replace "))
ReplaceWord = str(input("Enter the word you want to replace with "))

print(S.replace(Word,ReplaceWord))

Enter the string with to Replace the Specific Word  Aditya is nice guy
Enter the word you want to replace  nice
Enter the word you want to replace with  cool

Aditya is cool guy

In [25]:
S = str(input("Enter the string to count the word "))
Word = str(input("Enter Word to count"))

count = list(S.split())
count.count(Word)

Enter the string to count the word  shivam or amol or aditya or anurag
Enter Word to count or

3

In [1]:
S = str(input("enter the string to find the first occurrence of the word"))
Word = str(input("Enter a word "))

S.find(Word)

enter the string to find the first occurrence of the word aditya is good boy
Enter a word  is

7

In [2]:
S = str (input("Enter the string to split it into list "))

print(list(S.split()))

Enter the string to split it into list  nagpur pune mumbai delhi goa hydrabad Lucknow

['nagpur', 'pune', 'mumbai', 'delhi', 'goa', 'hydrabad', 'Lucknow']

! you are How ! you are How  How are you ! How are you ! How are you ! How are you !

In [20]:
L = ["How","are","you","!"]
 

for i in L:
    s += " " + i 
print(s)

! you are How ! you are How  How are you ! How are you ! How are you ! How are you ! How are you !

In [3]:
L = ["How","are","you","!"]
 
s = ""
for i in L:
    s =s+" " + i 
print(s)

 How are you !

In [4]:
""" List based problems """

' List based problems '

In [6]:
#Create a list with integers from 1 to 10
L = [1,2,3,4,5,6,7,8,9,10]

In [7]:
#Find the length of a list without using the `len()` function.
count = 0
for i in L:
    count+=1
print(count)

10

In [8]:
#Append an element to the end of a list.
city = ["Mumbai","Pune","Nagpur"]
city.append("gao")
print(city)

['Mumbai', 'Pune', 'Nagpur', 'gao']

In [13]:
#Insert an element at a specific index in a list.
index = int(input("enter the index where you want to make change"))
newcity = str(input("enter the new city name tha you want to insert"))
city.insert(index,newcity)
print(city)

enter the index where you want to make change 1
enter the new city name tha you want to insert mumbai

['indore', 'mumbai', 'chennai', 'Pune', 'Nagpur', 'gao']

In [20]:
#Remove an element from a list by its value.
RemoveCity = str(input("Enter the name of the which you want to remove form the List"))
city.remove(RemoveCity)
print(city)

Enter the name of the which you want to remove form the List Pune

['chennai', 'Nagpur', 'gao']

In [21]:
#Remove an element from a list by its index.
index = int(input("Enter the index value of a city which you want to remove"))
del city[index]
print(city)

Enter the index value of a city which you want to remove 0

['Nagpur', 'gao']

In [26]:
#Check if an element exists in a list.
Country = ["india","usa","canada","nepal","sri lanka","brazil","turkey","france"]
Element = str(input("Enter the Country name to check it is on the list or not "))

for i in Country:
    if(Element == i):
        print("it is in the list")
        break

Enter the Country name to check it is on the list or not  pakistan

In [1]:
#Check if an element exists in a list.
Country = ["india","usa","canada","nepal","sri lanka","brazil","turkey","france"]
Element = str(input("Enter the Country name to check it is on the list or not "))

if Element in Country:
    print("search succesfull")
else:
    print("search fail")

Enter the Country name to check it is on the list or not  france

search succesfull

In [2]:
#Find the index of the first occurrence of an element in a list.
Country = ["india","usa","canada","nepal","sri lanka","brazil","turkey","france", "usa"]
Element = str(input("Enter the Country name"))
print(Country.index(Element))

Enter the Country name usa

1

In [7]:
#Count the occurrences of an element in a list.
Country = ["india","usa","canada","nepal","sri lanka","brazil","turkey","france", "usa"]
Element = str(input("Enter the Country name"))
Country.count(Element)

Enter the Country name usa

2

In [11]:
#Reverse the order of elements in a list.
Country = ["india","usa","canada","nepal","sri lanka","brazil","turkey","france", "usa"]
ReverseCountry = list(reversed(Country))
print(ReverseCountry)

['usa', 'france', 'turkey', 'brazil', 'sri lanka', 'nepal', 'canada', 'usa', 'india']

In [15]:
#Sort a list in ascending order.
L1 = [2,9,3,1,6,8,5]
L1.sort()
print(L1)

[1, 2, 3, 5, 6, 8, 9]

In [18]:
#Sort a list in descending order.
L1 = [2,9,3,1,6,8,5]
L1.sort(reverse=True)
print(L1)

[9, 8, 6, 5, 3, 2, 1]

In [28]:
#Create a list of even numbers from 1 to 20.
even_number = []
for i in range(0,21):
    if i%2 == 0:
        even_number.append(i)

print(even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
#Create a list of odd numbers from 1 to 20.
old_number = []
for i in range(0,21):
    if i%2 !=0:
        old_number.append(i)

print(old_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
#Find the sum of all elements in a list.
Element = [1,2,3,4,5,6,7,8,9]
SumOfElement = 0
for i in Element:
    SumOfElement+=i
print(SumOfElement)

45

In [1]:
# the maximum value in a list
Element = [1,2,3,49,4,5,7]
max_element = max(Element)
print(max_element)

49

In [2]:
#Find the minimum value in a list.
min_element = min(Element)
print(min_element)

1

In [4]:
#Find the minimum value in a list.
Square_number = []
for i in range(1,11):
    Square_number.append(i*i)
print(Square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#Remove duplicates from a list.
List = [1,2,3,4,1,2,5,6,7,8]

List = list(set(List))
print(List)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
# Find the common elements between two lists.
L1 = [1,2,3,5,6]
L2 = [5,6,7,8,8]

L1_set = set(L1)
L2_set = set(L2)

if(L1_set & L2_set):
    print(L1_set & L2_set)
else:
    print("no common element")

{5, 6}

In [11]:
#Find the difference between two lists.
difference = list(set(L2)-set(L1))
print(difference)

[8, 7]

In [12]:
#Merge two lists
List_Sum = L1+L2
print(List_Sum)

[1, 2, 3, 5, 6, 5, 6, 7, 8, 8]

In [17]:
#Multiply all elements in a list by 2.
L1 = [1,2,3,4,5,6,7,8,9,10]

for i in L1:
    x = i*2
    print(x)

2
4
6
8
10
12
14
16
18
20

In [19]:
#Filter out all even numbers from a list.
L1 = [0,1,2,3,4,5,6,7,8,9,10]

for i in L1:
    if(i%2 != 0):
         L1.remove(i)
print(L1)

[0, 2, 4, 6, 8, 10]

In [21]:
#Convert a list of strings to a list of integers.
L1 = ['1', '-4', '3', '-6', '7']

int_list = list(map(int,L1))
print(int_list)

[1, -4, 3, -6, 7]

In [22]:
#Convert a list of integers to a list of strings.
str_list = list(map(str,L1))
print(str_list)

['1', '-4', '3', '-6', '7']

In [23]:
#Flatten a nested list.
Unflatten_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = [num for sublist in Unflatten_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
#Create a list of the first 10 Fibonacci numbers.
fibonacci = [0,1]

for i in range(2,10):
    fibonacci.append(fibonacci[i-1]+fibonacci[i-2])
    
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [3]:
#Tuple Based Practice Problem

In [5]:
#Create a tuple with integers from 1 to 5.
int_tuple = (1,2,3,4,5)
print(int_tuple)

(1, 2, 3, 4, 5)

In [6]:
#Access the third element of a tuple.
print(int_tuple[2])

3

In [8]:
#Find the length of a tuple without using the `len()` function.
count = 0
for i in int_tuple:
    count+=1
print(count)

5

In [9]:
#Count the occurrences of an element in a tuple.
Tuple = (10,20,30,40,50,70,20,40,20)

element=20
count = 0

for i in Tuple:
    if element == i:
        count+=1
        
print(count)

3

In [11]:
#Find the index of the first occurrence of an element in a tuple.
element = 50

for i,item in enumerate(Tuple):
    if item == element:
        print(i)
        break

4

In [18]:
element = 70

if element in Tuple:
    print("element exist ")
else:
    print("element not exist")

element exist

In [20]:
#Convert a tuple to a list.
NewList = list(Tuple)
print(NewList)

[10, 20, 30, 40, 50, 70, 20, 40, 20]

In [22]:
#Convert a list to a tuple.
Tuple = tuple(NewList)
print(Tuple)

(10, 20, 30, 40, 50, 70, 20, 40, 20)

In [24]:
#Unpack the elements of a tuple into variables
Varible_Tuple = (10,20,30)
var1,var2,var3 = Varible_Tuple
print(var2)

20